Extron SMP-352 Control Module

Greetings.
I would like to control the EXTRON SMP-352 Video Recorder.

There is a module for SMP-351 Recorder.
I've been trying to setup the connection by using the SMP-351 Module.
However,  this seems not to be able to connect to Companion, with this more recent device (SMP-352 Version of the recorder)
Even given the correct SMP IP-address and Admin Password that I use to control it via browser.

I would like to:
- set recording title, Title of the active recording
- start & stop a recording
- set Server URL & Stream Name/Key for rtmp streaming on both Archive & Confidence Encoders
- start & stop Streaming also on both encoders
- all other functions included already on SMP-351 module version


**Protocols**

Streaming
Pull: RTP/RTCP (RFC 3550), RTSP (RFC 2326), Interleaved RTSP (RTP/RTSP), RTP/RTSP tunneled through HTTP unicast or multicast Push: MPEG2-TS/UDP* (ISO/IEC 13818-1), MPEG2-TS/RTP* (RFC 2250, IPTV-ID-0087, ETSI TS 102 034), Direct RTP (RFC 3984), SAP (RFC2974),  SDP (RFC4566), unicast or multicast, RTMP

Transport 
TCP, UDP, multicast IGMPv3 (RFC 3376) or unicast

All supported
IGMPv3 (RFC 3376), IP, UDP, SSL, DHCP, HTTP, HTTPS, RTMP, RTMPS, RTP, RTSP, SNMP V2 (RFC 1213), SAP (RFC 2974), SDP (RFC 4566),  QoS (RFC 2474), NTPv4 (RFC 4330)


Thanks.
Kind Regards,
Miguel Angelo

Hi Miguel.  SMP351 user here. 
Since the SMP351 and SMP352 share a manual and SIS command set I'm surprised that the SMP351 module isn't working.  One thing to check - is your telnet connection enabled?  That's what the module looks uses to communicate (I'm not a programmer, but telnet is mentioned in the code).  It's on the Configuration > System Settings > Networking.  Telnet should be port 23.  

If that is enabled I'm out of ideas, but wanted to pass this on.  

That's it!

Greatful for your help.
Now working good!

Useful tip for future programmers.
Thanks to pass this on.