Generic SNMP

The name of the device, hardware, or software you would like to control.
Any SNMP capable device

What you would like to be able to make it do from Companion.
I have a number of cameras and encoders that are powered over ethernet (PoE) enabled. I would like to be able to:

power on/off/cycle these devices from my stream deck (using the powerEthernetMIB)
determine the power consumption of these devices (using the powerEthernetMIB)
determine the admin/operation status of switch ports (using the ifMIB)
These are only my immediate use cases, but the possibilities are endless. This generic module could serve as a basis for more specific devices.

Direct links or attachments to the ethernet control protocol or API.
net-snmp - NPM module implements versions 1, 2c and 3 of the Simple Network Management Protocol (SNMP)
RFC 1157 - A Simple Network Management Protocol (SNMP)
RFC 1213 - Management Information Base for Network Management of TCP/IP-based internets: MIB-II
RFC 2570 - Introduction to Version 3 of the Internet-standard Network Management Framework
RFC 3413 - Simple Network Management Protocol (SNMP) Applications
RFC 3416 - Version 2 of the Protocol Operations for the Simple Network Management Protocol (SNMP)
RFC 3418 - Management Information Base (MIB) for the Simple Network Management Protocol (SNMP)
RFC 3584 - Coexistence between Version 1, Version 2, and Version 3 of the Internet-standard Network Management Framework
RFC 3621 - Power Ethernet MIB
RFC 2863 - The Interfaces Group MIB

Duplicate of #370 